---
---

$header-heading-color: #000;
$header-bg-color: #1e70cfab;
$header-bg-color-secondary: #299b96;
$section-headings-color: #ffffff;
$header-link-color: #ffffff;



@import "{{ site.theme }}";


html{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(29, 29, 29);
  color: #e2e2e2;
  margin: 0 auto;
  padding: var(--padding);
  line-height: 2;
  font-size: 21px;
  
  a 
  {
    color: #299b96;
  }

  img
  {
    width:  832px;
    height: 400px;
    object-fit: scale-down;
  }

  img + em
  {
    font-size: 70%;
    font-style: italic;
    margin-left: 3.5rem;
  }
 
  h1
  {
    font-size: 250%;
    padding-top: 2rem;
  }

  h2{
    font-size: 180%;
    transform: translateX(-5px);
    font-family: var(--font-display);
    margin: 0;
  }
  
  
  p{
    margin: 0rem;
  }

  p::after{
    margin-bottom: 0rem;
  }
  
  
  
  
  h2:after{
    content: '';
    display: block;
    height: 8px;
    background: var(--accent-color);
    max-width: 55px;
    transform: skewX(-21deg) translateY(-13px);
    border-radius: 3px;
  }
}

.crop{
  height: 200px;
  width: 832px;
  overflow: hidden;
  width: 50%;
  height: 50%;
  margin: auto;
}
.crop img{
  width: 100%;
  height: auto;
  position: relative;
}


.site-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; // Optional: for some spacing
  font-size: 20px; // Adjust as needed
  z-index: 1000; // Ensures it's above other items
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.description{
  color: $header-link-color;
  font-size: 105%;
  text-decoration: none;
}

.author {
  color: $header-link-color;
  font-size: 90%;
  text-decoration: none;
}